@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@500&family=Lobster&family=Playfair+Display&family=Raleway:wght@600&family=Roboto+Slab:wght@500&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.galleryContainer {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.heading {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
}

.imagesWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imageContainer {
    text-align: center;
    margin: 10px;
}

.ellipticalImage {
    width: 375px;
    height: 240px;
    object-fit: contain;
    border-radius: 50% /70%;
    transition: transform 0.4s ease;
}

.animate :hover {
    transform: translateY(-20px) scale(1.1);
    cursor: pointer;
}

.imageTitle {
    font-family: "Montserrat", "Sedan SC", serif;
    color: #F5F5DC;
    font-weight: bold;
    margin-top: 10px;
    transition: transform 0.4s ease;
}

.imageTitle:hover {
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .ellipticalImage {
        width: 300px;
        height: 192px;
    }

    .imageTitle {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .ellipticalImage {
        width: 200px;
        height: 128px;
    }

    .imageTitle {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .imagesWrapper {
        flex-direction: column;
    }

    .imageTitle {
        font-size: 10px;
    }

    .ellipticalImage {
        width: 200px;
        height: 128px;
    }
}