@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.container{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 30vh;
    background-color: #1A2D2C;
  }

  .footerlinks {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: color 0.2s ease, transform 0.4s ease;
  }
  
  .footerlinks:hover {
    transform: scale(1.15) !important;
    color: rgb(136, 201, 255) !important;
  }
  
/* .responsive{
  width: 33.33%;
} */
  @media screen and (max-width: 600px){
    .container{
      width : 100%;
      display: flex;
      /* flex-direction: row; */
      justify-content: center;
      align-items: center;
      background-color: #1A2D2C;
      /* margin-top: 100px; */
    }

    
  }
  @media screen and (max-width: 400px){
    .responsive{
      margin-top: 5vh;
      }
    
  }

  .container1{
    color: white;
    width: 100%;
    height: auto;
    min-height: 5vh;
    background-color: #1A2D2C;
    font-family: "Montserrat", sans-serif;
  }
.responsive2  :hover{
  color: #0077ff;
}


