@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* this is styles of left container*/

.subcontainer{
    display: flex;
    height: 23vh;
    background-color: #000000;
    padding-bottom: 3vh;
    
}

.leftcontainer{
  height: 20vh;
  /* background-color: blueviolet; */
  background-color: #000000;
  width: 50%;
}

 #heading1{
  color: white;
  font-stretch: 150%;
  font-size: 1.8em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
 }
.sub-input{
  width: 350px; 
  padding: 0 10px; 
  font-weight: 500;
  /* margin-left: 100px; */
   height: 35px;
   border: 2px solid #000000;
   border-radius: 20px;
   transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.sub-input:focus {
  border-color: #005379; 
  box-shadow: 0 0 10px 5px rgba(136, 201, 255, 0.7); 
  outline: none; 
  font-size: large;
  font-weight: 500;

}
.leftcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftcontainer span{
  color: white;
  font-size: xx-small;
} 
.lowercontainer{
  margin-top: 2vh;
  /* display: flex;
 justify-content: center; 
  align-items: center;  */
} 

.btnsubscribe{
  height: 35px;
  width: 155px;
  margin-left: 1vw;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid white; */
  background-color: #1A2D2C;
  transition: background-color 0.5s ease, color 0.3s ease , box-shadow 0.4s ease;
  border-radius: 5px;
  
}
.btnsubscribe:hover{
  box-shadow: 0 0 10px 5px rgba(136, 201, 255, 0.7);
  background-color: 1A2D2C;
  /* scale: 1.03; */
  color: rgb(165, 193, 224) !important;


}
/* .subscribe{
  align-self: center;
  margin-top: 2vh;
  background-color: #1A2D2C;
  font-size: 1.5em;
} */


/*right container css is here*/
.rightcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 50%;
  height: 20vh;
}

#rightcontainer1 {
  /* height: auto; */
  width: 90%;
  background-color: #1A2D2C;
  color: white;
  height: 15vh;
  font-family: "Montserrat", sans-serif;
}

#mailtext{
  background-color: #000000;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-left: 16px;
  font-weight: 600;
  /* transition: text-color 0.5s ease, transform 0.5s ease; */
}
 #mailtext :hover{
  
  color: #54918e;
 }

@media screen and (max-width: 850px) {
  .subcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
  }
  .leftcontainer{
    width: 100%;
    background-color: #000000;
  }
  .rightcontainer{
    width: 100%;
    background-color: #000000;
  }
  /* #rightcontainer1{
    width: 90vw;
  } */
  .sub-input{
    width: 230px; 
  }
  #heading1{
    font-size: 1.3em;
  }
  .btnsubscribe{
    font-size: 1em;
    height: 25px;
    width: 100px;
  }
  /* .subscribe{
    font-size: .8em;
  } */

}