@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@500&family=Lobster&family=Playfair+Display&family=Raleway:wght@600&family=Roboto+Slab:wght@500&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.galleryContainer {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.heading {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
}

.imagesWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imageContainer {
    text-align: center;
    margin: 10px;
}

.ellipticalImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.imageTitle {
    font-family: "Montserrat", "Sedan SC", serif;
    color: #F5F5DC;
    font-weight: bold;
    margin-top: 10px;
}

.icon {
    color: white;
}

.imageTitle2 {
    font-family: "Montserrat", "Sedan SC", serif;
    color: #F5F5DC;
    font-weight: bold;
    margin-top: 3px;
}

.button {
    margin-top: 30px;
    background-color: #1A2D2C;
    font-weight: bolder;
    color: white;
    padding: 10px;
    border-radius: 50px;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.485);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .ellipticalImage {
        width: 250px;
        height: 250px;
    }

    .imageTitle {
        font-size: 15px;
    }

    .imageTitle2 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .ellipticalImage {
        width: 200px;
        height: 200px;
    }

    .imageTitle {
        font-size: 15px;
    }

    .imageTitle2 {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .imagesWrapper {
        flex-direction: column;
    }

    .imageTitle {
        font-size: 15px;
    }

    .imageTitle2 {
        font-size: 15px;
    }

    .ellipticalImage {
        width: 150px;
        height: 150px;
    }
}